
<nav class="navbar bg-body-tertiary" style="position: fixed;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="background-color: rgb(119, 127, 179);width: 1300px; height: 65px; font-size: 23px, Courier, monospace; color: white;">
      <!-- <img src="../assets/tata surya 2.jpg" alt="Logo" width="50" height="44" class="d-inline-block align-text-top"> -->
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="left: 120px;"></span>
      </button>
      Solar System Sequence
    </a>
  </div> 
</nav>


<div class="container" >
  <div >
    <h1>Merkurius</h1>
    <img src="../assets/Merkurius.jpg" style="width: 500px; height: 240px; float:left">
    <p style="text-align: justify; padding-left: 70px;">
      In the first order of planet names, we will start from the planet Mercury. 
      The planet Mercury is the smallest planet in our solar system with a diameter of 58.7 million kilometers
      and is also the closest to the sun.
      The planet Mercury also has the highest temperature because it is closest to the sun,
      which can reach 439 degrees Celsius, but at night, Mercury's temperature can become very cold.
      
      cause of this very high temperature, the gravitational force of the planet Mercury is very weak,
       so the air on the surface evaporates and the atmosphere becomes thin.
      one orbit, the planet Mercury takes 88 days. The surface of the planet Mercury has many
       large craters which are thought to be the result of meteorite impacts.
    </p>
  </div><br>

  <div>
    <h2>Venus</h2>
    <img src="../assets/venus.jpg" style="width: 500px; height: 260px; float:left">
    <p style="text-align: justify; padding-left: 70px;">
      In the second order of planet names, we will enter the planet Venus. 
      The planet Venus is almost the same size as our planet, Earth, which has a diameter of 12,104 kilometers.
      The distance between the planet Venus and the sun is 108.9 million kilometers.
    
      Even though it is almost the same size as planet Earth, the planet Venus is covered in carbon dioxide,
      making it impossible for humans to breathe on this planet. Apart from that, the planet Venus is covered 
      in clouds formed from deadly sulfuric acid.<br>

      The planet Venus also has the opposite direction of rotation to the planet Earth and is also very slow.
      In one rotation or rotation of the planet, the planet Venus takes 243 days on planet Earth. Meanwhile, 
      the rotation time or how long it takes for the planet Venus to revolve around the sun is 255 days.

      The temperature on the planet Venus is also not much different from the planet Mercury,
      which can reach 463 degrees Celsius.
    </p>
  </div><br>

  <div>
    <h2>Bumi</h2>
    <img src="../assets/bumi.jpg" style="width: 500px; height: 260px; float:left">
    <p style="text-align: justify; padding-left: 70px;">
      In the third order of planetary names, planet Earth, where we live, is the third planet.
      Of course, Yupiers also knows that Earth is the only planet that can be inhabited by living 
      creatures such as humans, animals and plants.
      The reason why planet Earth is the only planet that can be inhabited by living creatures is
      because planet Earth is covered by a gas called the atmosphere which provides air for breathing
      and also prevents planet Earth from being hit by meteors or sky rocks in the solar system.

      The atmosphere of planet Earth is made of 78% nitrogen, 21% oxygen and 1% other substances.
      Apart from that, the distance between the sun and planet Earth is also correct, namely 149.7 million kilometers.
      In one orbital time, planet Earth requires 365 and a quarter days, while its rotation time is 24 hours.
      Because of this precise distance, the sun can provide the right amount of warmth, so that living creatures 
      do not feel hot or cold in weather.
     </p>
  </div><br>

  <div>
    <h2>Mars</h2>
    <img src="../assets/mars.jpeg" style="width: 500px; height: 240px; float:left">
    <p style="text-align: justify; padding-left: 70px;">
      In the fourth order of planet names, we will know the red planet or planet Mars which has a diameter of 6,779 kilometers.
      The planet Mars gets the nickname red planet because of the dust that covers the surface of this planet.
      As the fourth planet, the distance between the planet Mars and the sun is 250.67 million kilometers.
      The planet Mars itself has an orbital time of 786 days, but its rotation time only takes 24.6 hours.
      The interesting thing about the planet Mars is that there are still questions about whether it was
      true that there was life on this planet or not. This question arises because on the surface of the 
      planet Mars you can see the existence of dried-up river channels, deep ravines and former coastal plains.
    </p>
  </div><br>

  <div>
    <h2>Jupiter</h2>
    <img src="../assets/mars.jpeg" style="width: 500px; height: 220px; float:left">
    <p style="text-align: justify; padding-left: 70px;">
      In the fifth order of planet names, we will know the planet Jupiter which has a distance from 
      the sun of 741.42 million kilometers. Jupiter is also the largest planet in our solar system 
      with a diameter of 142 thousand kilometers.
      The largest planet in our solar system has an orbital time of 12 years, but has a short rotation time,
      which is only 9.8 hours. The largest planet in our solar system also has the largest number of satellites 
      compared to other planets, namely 63 satellites.
      Astrologers also discovered a large red dot on the planet Jupiter which is three times larger than Earth,
       where this large red dot is a giant storm that has existed for 300 years.
    </p>
  </div><br>

  <div>
    <h2>Saturnus</h2>
    <img src="../assets/saturnus.jpg" style="width: 500px; height: 230px; float:left">
    <p style="text-align: justify; padding-left: 70px;">
      After getting to know the largest planet in our solar system, the sixth planet is the planet Saturn. 
      Even though its size is not as big as Jupiter, the planet Saturn is also a large planet because it 
      has a diameter of 120 thousand kilometers.
      One characteristic or thing that really differentiates Saturn from other planets is that the planet Saturn 
      has rings which are ice crystals with a thickness of up to 402 thousand kilometers that circle the planet Saturn.
      Apart from its rings, the planet Saturn also has quite a lot of satellites, namely 62 satellites.
      For its orbital time, the planet Saturn takes an orbit of 29.5 years to orbit the sun, and the planet's 
      rotation time is only 10 hours.
    </p>
  </div><br>

  <div>
    <h2>Uranus</h2>
    <img src="../assets/uran.jpeg" style="width: 500px; height: 230px; float:left">
    <p style="text-align: justify; padding-left: 70px;">
      In our solar system, the seventh planet is the planet Uranus. The planet Uranus is the third largest planet
      after Jupiter in first place, and Saturn in second place, where the diameter of the planet Uranus is 50,724 kilometers.
      The interesting thing about the planet Uranus is that this planet has a tilted rotation axis and also earned the nickname 
      as the largest ice planet because the average temperature on the planet Uranus is -224 degrees Celsius.
      Apart from that, it also turns out that the planet Uranus has rings that are similar to Saturn, but they are very thin.
      The planet Uranus takes an orbit of 84 years to circle the sun and the rotation time of this planet is 17 hours 14 minutes.
    </p>
  </div><br>

  <div>
    <h2>Neptunus</h2>
    <img src="../assets/neptun.jpg" style="width: 500px; height: 260px; float:left">
    <p style="text-align: justify; padding-left: 70px;">
      The last planet in our solar system is the planet Neptune. This farthest planet is 4.5 billion from the sun and 
      has a diameter of 49,244 kilometers. Neptune has an orbital time or duration of travel time around the sun of 165 years, 
      with a rotation time of 15 hours 48 minutes.
    </p>
  </div><br>

</div>